body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

header.App {
  background-color: #ff6f61;
  color: white;
  padding: 20px;
  font-size: 0.5em;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main.App {
  padding: 20px;
  background-color: white;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

main.App p {
  font-size: 1.2em;
  color: #333;
}